body{
    background-color: #DDCC55;
    color: #000000;
    font-size: 16px;
    font-family: 'Stoke', 'Lucida Bright', 'liberation';
}
header{
    display: block;
    margin-bottom: 1px;
}
nav{
    display: block;
    width: 20%;
    float: left;
}
ol{
    line-height: 200%;
}

ul{
    line-height: 200%;
}
nav ul{
    color: #000000;
    line-height: 230%;
    margin-top: 40px;
    list-style-type: square;
    
}
section{
    display: block;
    width: 70%;
    float: right;
}
a{
    text-decoration: none;
    color: #222222;
}
a:visited{
    text-decoration: none;
    color: #222222;
}
.ender{
    float: right;
    text-align: right;
    line-height: 140%;
    font-size: 14px;
    font-family: 'Karla', 'Verdana', 'Ubuntu';
}
.imgLogo{
    border-bottom: solid 3px;
    border-color: #222222;
    margin-bottom: 6px;
    padding-bottom: 15px;
}
.apres{
    text-align: center;
    font-size: 16px;
}
.titulo{
    text-align: center;
}
.listaPlano{
    width: 300px;
    color: #202020;
    background-color: #EEEEBB;
    font-size: 12px;
    padding: 10px 10px 10px 30px;
    border: solid 3px #202020;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: square;
}
.listaPlano ol{
    color: #202020;
    list-style-type: lower-alpha;
}
.listaPlano .preco{
    color:#CC0000;
}
span{
    color:#CC0000;
}
h4{
    font-size: 14px;
    text-align: center;
}
.tabEquip {
    border: solid 1px;
    border-collapse: separate;
    font-size: 14px;
    width: 510px;
    margin-bottom: 10px;
}
.tabTitulo{
    background-color: #402020;
    color: #ffffff;
}
.tabSubTit{
    background-color: #802020;
    color: #ffffff;
}
th{
    border: solid 1px;
    padding: 10px;
}
td{
    border: solid 1px;
    padding: 10px;
    font-size: 12px;
    background-color: #EEEEBB;
}
.imgCel{
    width: 100px;
    background-color: #ffffff;
    text-align: center;
}
.imgCel img{
    width: 100px;
    height: 100px;
}